<div class='container-fluid'>
    <form [formGroup]='contactForm' (ngSubmit)='onSubmit(contactForm)' >
        <div class="form-row">
        <div class='form-group col-md-6'>
            <label for='firstName'>First Name</label>
            <input class='form-control' id='firstName' formControlName='firstName'/>
    </div>
    <div class='form-group col-md-6'>
        <label for='lastName'>Last Name</label>
        <input class='form-control' id='lastName' formControlName='lastName'/>
    </div>
    </div>
    <div class='form-group'>
        <label for='email'>Email ID</label>
        <input class='form-control' id='email' formControlName='eMail'/>
    </div>
    <div class="form-row">
    <div class='form-group col-md-6'>
        <label for='phone'>Phone Number</label>
        <input class='form-control' id='phone' formControlName='phoneNumber'/>
    </div>
    <div class='form-group col-md-6'>
          <label for='status'>Status</label><br>
          <input id="Active" type="radio" value="Active" formControlName="status">
          <label for="Active">Active</label>&nbsp;&nbsp;
          <input id="Inactive" type="radio" value="Inactive" formControlName="status">
          <label for="Inactive">Inactive</label>
    </div>
    </div>
    <div>
    <button type="submit" class="btn btn-primary">Add</button>&nbsp;&nbsp;
    <button type="reset" class='btn btn-secondary'>Reset</button>
    </div>
    </form>
    </div>