<h1>Digital Phonebook</h1>
<app-navbar></app-navbar>
<!-- <button (click)="getContacts()">Reload</button>
<ul class="contacts">
    <li *ngFor="let contact of contacts">
        <span>First Name: {{contact.firstName}}</span><br>
        <span>Last Name: {{contact.lastName}}</span><br>
        <span>E-Mail: {{contact.email}}</span><br>
        <span>Phone Number: {{contact.phoneNumber}}</span><br>
        <span>Status: {{contact.status}}</span>
        <button (click)="edit()">Edit</button>
        <button (click)="delete(contact)">Delete</button>
    </li>
</ul>
<app-contact-model></app-contact-model> -->
<router-outlet></router-outlet>